<div class="container">
  <div *ngFor="let emp of res; index as i">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">{{res[i].employee_name}}</h5>
          <p class="card-text">{{res[i].employee_salary}}</p>
          <p class="card-text">{{res[i].employee_age}}</p>
      </div>
      <div class="card-body">
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
      <button  href="#" 
               type="button" 
               class="btn btn-dark">
               Dark
      </button>
    </div>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <!-- <img src="..." class="card-img-top" alt="..."> -->
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">An item</li>
    <li class="list-group-item">A second item</li>
    <li class="list-group-item">A third item</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>