<div class="container">
    <div id="card"
        *ngFor="let employee of employees; index as i">
      <div class="card" style="width:220px;">
        <!-- <img [src]="employees | _imagen">| -->
        <div class="card-body">
          <h5 class="card-title">{{employee.employee_name}}</h5>
        </div>
        <button  type="button" 
                 class="btn btn-ligth"
                 (click)="goEmployeeById(employee.id)">
                 Ver mas...
        </button> 
       
      </div>
    </div>
  <!-- </div>
  <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div> -->
  
