<div class="container content-center" *ngIf="employees" >

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
      <div id="card" *ngFor="let employee of employees; index as i">

      <div class="col">

        <div class="card" >
          <img [src]="employee | _imagen" class="card-img-top" alt="..." >
          <div class="card-body">
            <h5 class="card-title">{{employee.employee_name}}</h5>
            <button type="button" class="btn btn-ligth" (click)="goEmployeeById(employee.id)">
              Ver mas...
            </button>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>

<app-spinner *ngIf="!employees"></app-spinner>

