<div class="container">
    <div id="card"
        *ngFor="let employee of employees; index as i">
      <div class="card" style="width: 15rem;">
        <div class="card-body">
          <h5 class="card-title">{{employee.employee_name}}</h5>
        </div>
        <button  type="button" 
                 class="btn btn-ligth"
                 (click)="goEmployeeById(employee.id)"
                 routerLink="./employee/employeeBy/:id">
                 Ver mas...
        </button>
      </div>
    </div>
  </div>
  